{% extends '@KoddistortionBodyBookTheme/Default/base_security.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="panel registration-form">
				<div class="panel-body">
					{% block fos_user_content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}